body{
    margin: 0 auto;
}
.board{
    margin: 100px;
    width: 600px;
    height: 600px;
    background-image: url(../img/checkers.jpg);
    -webkit-background-size: 600px;
         -o-background-size: 600px;
            background-size: 600px;
    transform: rotate(15deg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.check_red1{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 6%;
    left: 16%;
}
.check_red2{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 7%;
    left: 39%;
}
.check_red3{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 7%;
    left: 62%;
}
.check_red4{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 7%;
    left: 85%;
}
.check_red5{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 16%;
    left: 7%;
}
.check_red6{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 16%;
    left: 29%;
}
.check_red7{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 16%;
    left: 52%;
}
.check_red8{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 16%;
    left: 73%;
}
.check_red9{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 17.5%;
}
.check_red10{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 40%;
}
.check_red11{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 62%;
}
.check_red12{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 84%;
}
.check_grey1{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 86%;
    left: 6%;
}
.check_grey2{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 28%;
}
.check_grey3{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 50%;
}
.check_grey4{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 73%;
}
.check_grey5{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 73%;
    left: 18%;
}
.check_grey6{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 73%;
    left: 40%;
}
.check_grey7{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 73%;
    left: 62%;
}
.check_grey8{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 73%;
    left: 86%;
}
.check_grey9{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 62%;
    left: 7%;
}
.check_grey10{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 62%;
    left: 28%;
}
.check_grey11{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 62%;
    left: 52%;
}
.check_grey12{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 62%;
    left: 73%;
}
