body{
    margin: 0 auto;
}
.board{
    width: 100%;
    margin:50px 100px;

}
.board img{
    transform: rotate(15deg);
    max-width: 600px;
    max-height: 600px;
    position: fixed;
    z-index: 1;

}
.check_red1{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 20%;
}
.check_red2{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 13%;
    left: 30%;
}
.check_red3{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 18%;
    left: 39%;
}
.check_red4{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 22.5%;
    left: 49%;
}
.check_red5{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 14%;
}
.check_red6{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 23.5%;
}
.check_red7{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 33%;
}
.check_red8{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 29.5%;
    left: 43%;
}
.check_red9{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 26%;
    left: 17.5%;
}
.check_red10{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 32%;
    left: 27%;
}
.check_red11{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 36.5%;
    left: 36.5%;
}
.check_red12{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: 41.5%;
    left: 46%;
}
.check_grey1{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 88%;
    left: 35%;
}
.check_grey2{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 82%;
    left: 25%;
}
.check_grey3{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 77%;
    left: 16%;
}
.check_grey4{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 73%;
    left: 6%;
}
.check_grey5{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 66%;
    left: 12%;
}
.check_grey6{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 69.5%;
    left: 22%;
}
.check_grey7{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 74.5%;
    left: 31.5%;
}
.check_grey8{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 80%;
    left: 41%;
}
.check_grey9{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 52%;
    left: 8.5%;
}
.check_grey10{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 57.5%;
    left: 18%;
}
.check_grey11{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 64%;
    left: 28%;
}
.check_grey12{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: grey;
    position: absolute;
    z-index: 2;
    top: 68%;
    left: 37%;
}
